openapi: 3.2.0
info:
  title: AgentSearch HTTP Index API
  version: 0.1.0
  description: Public, no-auth HTTP API for AgentSearch — a daily-scored, curated index of AI agents and MCP servers. Mirrors the @luthersystems/agentsearch MCP server.
  contact:
    name: Luther Systems
    url: https://luthersystems.com
  license:
    name: MIT
    url: https://github.com/luthersystems/agentsearch/blob/main/LICENSE
servers:
- url: https://agentsearch.luthersystems.com
  description: production
tags:
- name: Index
  description: Browse and summarise the whole index.
paths:
  /api/browse:
    get:
      summary: Paginated index listing
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: page_size
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 100
      responses:
        '200':
          description: One page of agents.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  page_size:
                    type: integer
                  total:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentSummary'
      operationId: browseAgents
      tags:
      - Index
  /api/stats:
    get:
      summary: Index summary stats
      responses:
        '200':
          description: Aggregates across the latest scoring tab.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_agents:
                    type: integer
                  alive:
                    type: integer
                  tab:
                    type: string
                    description: Source tab name, e.g. 'agents 2026-05-16'.
                  top_sources:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rollup'
                  top_licenses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rollup'
                  top_capability_clusters:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rollup'
      operationId: getStats
      tags:
      - Index
components:
  schemas:
    Rollup:
      type: object
      properties:
        name:
          type: string
        count:
          type: integer
    AgentSummary:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
        overall_score:
          type: number
externalDocs:
  description: AgentSearch API & agent surfaces
  url: https://agentsearch.luthersystems.com/api-docs
x-api-evangelist:
  source: https://agentsearch.luthersystems.com/openapi.json
  fetched: '2026-09-19'
  http_status: 200
  original: openapi/_original/luthersystems-com-agentsearch-openapi.json
  changes: operationId, tags[] and externalDocs added by API Evangelist (the published spec declares none); every path, parameter, schema and server is as published. The same additions are expressed as an OpenAPI Overlay in overlays/luthersystems-com-agentsearch-overlay.yaml. The published spec omits POST /api/submit-agent, which /api-docs documents; it was NOT added here.
