openapi: 3.2.0
info:
  title: AgentSearch HTTP Search API
  version: 0.1.0
  description: Public, no-auth HTTP API for AgentSearch — a daily-scored, curated index of AI agents and MCP servers. Mirrors the @luthersystems/agentsearch MCP server.
  contact:
    name: Luther Systems
    url: https://luthersystems.com
  license:
    name: MIT
    url: https://github.com/luthersystems/agentsearch/blob/main/LICENSE
servers:
- url: https://agentsearch.luthersystems.com
  description: production
tags:
- name: Search
paths:
  /api/search:
    post:
      summary: Search the index
      description: Ranked agents for a natural-language query. final_score = query_fit × agent_quality.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                limit:
                  type: integer
                  minimum: 1
                  maximum: 25
                  default: 10
              required:
              - query
      responses:
        '200':
          description: Top N ranked agents.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchResult'
      tags:
      - Search
      operationId: postApiSearch
      x-operation-id-source: derived
components:
  schemas:
    SearchResult:
      type: object
      properties:
        agent_name:
          type: string
        agent_url:
          type: string
        query_fit:
          type: number
          minimum: 0
          maximum: 1
        overall_score:
          type: number
          minimum: 0
          maximum: 1
        final_score:
          type: number
          minimum: 0
          maximum: 1
        reasoning:
          type: string
