openapi: 3.2.0
info:
  title: AgentSearch HTTP Discovery API
  version: 0.1.0
  description: Public, no-auth HTTP API for AgentSearch — a daily-scored, curated index of AI agents and MCP servers. Mirrors the @luthersystems/agentsearch MCP server.
  contact:
    name: Luther Systems
    url: https://luthersystems.com
  license:
    name: MIT
    url: https://github.com/luthersystems/agentsearch/blob/main/LICENSE
servers:
- url: https://agentsearch.luthersystems.com
  description: production
tags:
- name: Discovery
  description: A2A agent card.
paths:
  /.well-known/agent.json:
    get:
      summary: A2A agent card
      description: Returns the A2A-format agent card declaring AgentSearch's skills, auth, pricing and documentation.
      responses:
        '200':
          description: Agent card.
      operationId: getAgentCard
      tags:
      - Discovery
externalDocs:
  description: AgentSearch API & agent surfaces
  url: https://agentsearch.luthersystems.com/api-docs
x-api-evangelist:
  source: https://agentsearch.luthersystems.com/openapi.json
  fetched: '2026-09-19'
  http_status: 200
  original: openapi/_original/luthersystems-com-agentsearch-openapi.json
  changes: operationId, tags[] and externalDocs added by API Evangelist (the published spec declares none); every path, parameter, schema and server is as published. The same additions are expressed as an OpenAPI Overlay in overlays/luthersystems-com-agentsearch-overlay.yaml. The published spec omits POST /api/submit-agent, which /api-docs documents; it was NOT added here.
