openapi: 3.2.0
info:
  title: AgentSearch HTTP Stats API
  version: 0.1.0
  description: Public, no-auth HTTP API for AgentSearch — a daily-scored, curated index of AI agents and MCP servers. Mirrors the @luthersystems/agentsearch MCP server.
  contact:
    name: Luther Systems
    url: https://luthersystems.com
  license:
    name: MIT
    url: https://github.com/luthersystems/agentsearch/blob/main/LICENSE
servers:
- url: https://agentsearch.luthersystems.com
  description: production
tags:
- name: Stats
paths:
  /api/stats:
    get:
      summary: Index summary stats
      responses:
        '200':
          description: Aggregates across the latest scoring tab.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_agents:
                    type: integer
                  alive:
                    type: integer
                  tab:
                    type: string
                    description: Source tab name, e.g. 'agents 2026-05-16'.
                  top_sources:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rollup'
                  top_licenses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rollup'
                  top_capability_clusters:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rollup'
      tags:
      - Stats
      operationId: getApiStats
      x-operation-id-source: derived
components:
  schemas:
    Rollup:
      type: object
      properties:
        name:
          type: string
        count:
          type: integer
